In [ ]:
comments:
they are used to explain code and make it more readable.
they are not excecuted by the python interpreter.

 types of comments in python
1)single line comments:#
2)multiline comments:'''  ''' or """  """

keywords:
they are reserved words that have special meaning and cannot be used as identifier(variable or funtions name) these 
are used to define the syntax and structure of the python language.

 ex:if,else,while,break,.....etc

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
# input and output functions
print("hi how are you")

hi how are you

In [ ]:
name = int(input("enter your age"))

In [4]:
name=input( "enter your name")
age=(input("enter your age"))

enter your name pooja
enter your age 20

In [5]:
print("my name is ",name,"and my age is",age)

my name is  pooja and my age is 20

In [4]:
print("my name is {}, and my age is {}".format("pooja", 20))

my name is pooja, and my age is 20

In [10]:
print(f"My name is {name}, and my age is {age}")

My name is pooja, and my age is 20

In [ ]:
 variables:
variables are used to store/hold the values.
why we have to store the variable:

valid variable declaration:(rules to declare the variable)
1.a=5
2.B=10
3.num=11
4.Num1=32
5.stuname="pooja"
6.stu_id=123(only one special charecter is allowed in b/w the variable that is _ )
7._stu_email="pooja@gmail.com"


invalid variable declaration
1c=15
$emp_name@="suchi"
emp sal=5678

In [1]:
a='5.2'

In [2]:
a=5

In [3]:
a=5.2

In [5]:
1c=15
$emp_name@="suchi"
emp sal=5678

SyntaxError: invalid decimal literal (1677558029.py, line 1)

In [6]:
stu^m=123

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1359061634.py, line 1)

In [7]:
calculate BMI(body mass index) value by reading hight and weight by use
bmi= weight/hight square

SyntaxError: invalid syntax (2486799888.py, line 1)

In [13]:

w= float(input("enter a value:"))
h= float(input("enter the value:"))
bmi=w/(h*h)
print("the bmi value is:",bmi)

enter a value: 87
enter the value: 5.5

the bmi value is: 2.87603305785124

In [ ]:
data types:
it indicates the type/nature of the data
single value variable data type:
int 
float
bool
complex
str

multi valued variable data type:list
tuple 
set 
str(string) 
dict(dictionary)

In [ ]:
operator:
it is special symobl used to perform certain operation b/w two operand/variables


types of operator:

1)aritmatic operators
2)logical  operators
3) comparison/relational   operators
4)assignment  operators
5)bitwise  operators
6)identity  operators
7)membership  operators

In [ ]:
1)aritmatic operators

+ , - , * , /, // , ** , %

write a program to perform basic calculatorn operation using 2 values take input from user

In [7]:
a=int(input("enter value"))
b=int(input("enter value"))
print("sum",a+b)
print("value is",a-b)

enter value 4
enter value 2

sum 6
value is 2

In [6]:
a=2
b=4
print(f"{a}+{b}={a+b}\nthe sub of {a} and {b} is {a-b}")

2+4=6
the sub of 2 and 4 is -2

In [ ]:
2)logical operators:
and , or, not

a  b and  or  nor  xor  xnor
0  0  0   0    1    0    1
0  1  0   1    0    1    0
1  0  0   1    0    1    0
1  1  1   1    0    0    1

In [8]:
a=10
b=15

a==b and b!=a

False

In [10]:
a=10
b=15

a!=b and b!=a

True

In [ ]:
3) comparison operator:
<  >  =  >=  <=  ==  !=

In [11]:
a=10
b=15
a<b

True

In [12]:
a=10
b=15
a==b

False

In [13]:
a=10
b=15
a>=b

False

In [18]:
a=10
b=15
a!=b

True

In [16]:
a=10
b=15
a!=b

True

In [ ]:
4) assignment opererator
= += -= *= /= //= **= %=

In [19]:
x=12
x

12

In [20]:
x+=4  #c=x+4
x

16

In [21]:
y=3
y-=5 #y=3-5
y

-2

In [ ]:
5) bitwise operator:
& | >> << ~

In [22]:
11&12

8

In [23]:
11|12

15

In [24]:
13>>2 # right shift by 2 times

3

In [25]:
13<<2

52

In [ ]:
6)identity operation:

is   is not

In [26]:
a=5
b=8
a is b

False

In [27]:
a=5
b=8
a is not b

True

In [ ]:
7)membership operator:

in  not in

In [28]:
l1=[2,3,5,9]
3 in l1

True

In [29]:
10 in l1

False

In [2]:
#write a program to calculate are of square ,area of circle,area of triangle take input from user
#a=2
#b=4
#r=2
#c=2*4,a*b*r,r*r

#print("are of square",c)
#print("area of triangle",a*b*r)

s=float(input("enter square side:"))
r=float(input("enter radius of circle side:"))
b=float(input("enter base side:"))
h=float(input("enter hight side:"))
aos=s*s
aoc=3.14*r*r
aot=0.5*b*h
print(f"area of square={aos}\narea of circle={aoc}\narea of triangle={aot} ")

enter square side: 2
enter radius of circle side: 3
enter base side: 4
enter hight side: 2

area of square=4.0
area of circle=28.259999999999998
area of triangle=4.0

In [ ]:
conditional statement:

when logics are based on the conditions we use conditional statements

types:
if
if else
if else if ladder /contineous if else
nested if else

In [ ]:
syntax of if
if(condition):
    statements

In [5]:
age=int(input("enter your age:"))
country=input("enter your country:")
country=country.lower() # here we are storing the country i/p in the for of lower case.
if(age>=18 and country =="india"): # if u enter the India it will not print the o/p
    print("eligible for voting")

enter your age: 18
enter your country: india

eligible for voting

In [ ]:
syntax of if else

if(condition):
    statements of if
else:
    statemets of else

In [1]:
age=int(input("enter your age:"))
country=input("enter your country:")
country=country.lower() # here we are storing the country i/p in the for of lower case.
if(age>=18 and country =="india"): # if u enter the India it will not print the o/p
    print("eligible for voting")
else:
    print("not eligible for voting")

enter your age: 11
enter your country: india

not eligible for voting

In [11]:
#write a program to check the given number id evn or odd
a=int(input("enter the number:"))
if(a%2==0):
     print("number is even:")

else:
      print("number is odd:")

enter the number: 4

number is even:

In [ ]:
check the number is +ve 
-ve
zero
invalid 
then we have to use if else ladder

In [ ]:
if else ladder syantax


if(condition):
    statements
else:
    if(condition):
        statements
    else:
        if(condition):
            statemnts
        else:
            statements

In [ ]:
if (condition1):
    statemets 1
elif(condition 2):
    statements 2
elif(condition 3):
    statements 3
elif(condition n):
    statements n
else:
    default statements

In [9]:
# write a program check the number is +ve,-ve,zero,invalid 
num = input("Enter a number: ")

# Check if input is a valid number
#if num.lstrip('-').replace('.', '').isdigit():
    #num = float(num)

    if num > 0:
        print("The number is Positive")
    elif num < 0:
        print("The number is Negative")
    else:
        print("The number is Zero")
else:
    print("Invalid input")

IndentationError: unexpected indent (1064453791.py, line 8)

In [ ]:
unit=int(input("enter the value"))
if(unit>=0 and unit<=100):
    eb=unit*0.5
if(

In [ ]:
nested if else syntax


if(condition): # outer if
    if(condition): #inner if
        statements of inner if
    else:
        statements of inner else
else:
    statements of oute else

In [13]:
num=int(input("enter the number"))
if(num<=0):
    if(num<0):
        print("-ve")
    else:
        print("zero")
else:
    print("+ve")

enter the number 0

zero