In [ ]:
data structure in python:
python provides several built in data structure that help us to organize and manage data efficiently.

4 types inbuilt DS:
List
tuple
set
dictionary


default DS in pythos is "TUPLE"

In [ ]:
list:

it is multivalued variable which hold the data of different datatypes/its heterogenious in nature.

it is represented by:[] or list()

it is mutalble,ordered,it will allow duplicates

In [3]:
list1=[1,"python",36.8,True,2+3j,95]
list1

[1, 'python', 36.8, True, (2+3j), 95]

In [4]:
list[0]#accessing the value

list[0]

In [5]:
for i in list1:
    print(i)

1
python
36.8
True
(2+3j)
95

In [7]:
list1.append(123)#append function is used to adding eliment 
list1

[1, 'python', 36.8, True, (2+3j), 95, 123, 123]

In [8]:
list1.insert(3,36.8)# 3 is position and 36.8 is value
list1

[1, 'python', 36.8, 36.8, True, (2+3j), 95, 123, 123]

In [9]:
list1[2]="java" # for updating the eliment
list1

[1, 'python', 'java', 36.8, True, (2+3j), 95, 123, 123]

In [10]:
list1.pop()#removing eliments
list1

[1, 'python', 'java', 36.8, True, (2+3j), 95, 123]

In [11]:
list1.pop(4)
list1

[1, 'python', 'java', 36.8, (2+3j), 95, 123]

In [15]:
list1.append(17)
list1

[1, 'python', 'java', 36.8, (2+3j), 95, 123, 17]

In [17]:
list1.remove(17)
list1

[1, 'python', 'java', 36.8, (2+3j), 95, 123]

In [18]:
list1.append(1,2)
list1

TypeError: list.append() takes exactly one argument (2 given)

In [19]:
list1.append(["pooja","keerthi"])
list1

[1, 'python', 'java', 36.8, (2+3j), 95, 123, ['pooja', 'keerthi']]

In [23]:
list1[7]

['pooja', 'keerthi']

In [24]:
list1.pop()
list1

[1, 'python', 'java', 36.8, (2+3j), 95, 123]

In [25]:
list2=["pooja","keerthi"]
list2

['pooja', 'keerthi']

In [27]:
list3=list1+list2
list3

[1, 'python', 'java', 36.8, (2+3j), 95, 123, 'pooja', 'keerthi']

In [29]:
list1.pop([2+3j,95,17])
list1

TypeError: 'list' object cannot be interpreted as an integer

In [31]:
#remove this eliments [2+3j,95,17]

list3

[1, 'python', 'java', 36.8, (2+3j), 95, 123, 'pooja', 'keerthi']

In [34]:
l2=['abc',45,'pooja','kamala','keerthi']
l2

['abc', 45, 'pooja', 'kamala', 'keerthi']

In [40]:
temp=['45','abc']
for i in temp:
    l2.remove(i)
print(l2)

ValueError: list.remove(x): x not in list

In [41]:
"""l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
op=[5,7,9,11,13]"""

l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
op=[]
for i in range(len(l1)):
    op.append(l1[i]+l2[i])
print(op)

[5, 7, 9, 11, 13]

In [42]:
"""
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]

o/p is:

o1=[1,2,3,4,5,6,7,8]
o2=[1,2,3,6,7,8]
o3=[4,5]
o4=[1,2,3]
o5=[6,7,8]
"""


l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
op=[]
for i in l1:
    o1.append(len(l1)):
    if l2[i] not in l1:
        o1.append(l1+l2)
print(o1)

SyntaxError: invalid syntax (1674578973.py, line 19)

1)write a program to create even number list,odd number list,prime number from the given number range


2)read elements untill they exit(ex:[1,56,388,19,34.09]).

In [2]:
print("enter exit to stop")
v=input("enter the value")
ip=[]
while(v!="exit"):
    ip.append(v)
    v=input("enter the value")
print(ip)

enter exit to stop

enter the value 2
enter the value 5
enter the value 7
enter the value 9
enter the value 0
enter the value 5
enter the value 55
enter the value 88
enter the value 100
enter the value exit

['2', '5', '7', '9', '0', '5', '55', '88', '100']

In [4]:
print("enter exit to stop")
v=input("enter the value")
ip=[]
while(v!="exit"):
    if(len(ip)==10):
        print("you alredy reach the i/p")
        break
    else:
        
        ip.append(v)
        v=input("enter the value")
print(ip)

enter exit to stop

enter the value 2
enter the value 4
enter the value 6
enter the value 88
enter the value 5
enter the value 4
enter the value 3
enter the value 6
enter the value 10
enter the value 5
enter the value 7

you alredy reach the i/p
['2', '4', '6', '88', '5', '4', '3', '6', '10', '5']

In [ ]:
slicing syntax:
var[start pos:stop pos:step size]
default start position is: 0
default stop pos:upto end
step size:1

In [8]:
#slicing:
l1=[1,2,3,4,5,6,7,89,[2,3,55,66,,8888],'2k',3,700]
l1[0:5:1]

SyntaxError: invalid syntax (304721893.py, line 2)

tuple:
it is also multivalued variable which can store data of different data types/heterogenious in nature
it is immutable,ordered,allow duplicates
it is represrnted by () or tuple().


in tuple you cant update,remove

In [10]:
t1=(6,7,"abc",678,False,90)
t1

(6, 7, 'abc', 678, False, 90)

In [11]:
for i in t1:
    print(i)

6
7
abc
678
False
90

In [15]:
t2=(1,2,3)
t3=t1+t2
t3

(6, 7, 'abc', 678, False, 90, 1, 2, 3)

In [16]:
t3

(6, 7, 'abc', 678, False, 90, 1, 2, 3)

In [17]:
temp1=list(t3)
temp1

[6, 7, 'abc', 678, False, 90, 1, 2, 3]

In [19]:
temp1[1]="abcd"
t3=tuple(temp1)
t3

(6, 'abcd', 'abc', 678, False, 90, 1, 2, 3)

In [ ]:
set and dictionary(dic)

In [ ]:
name="karan"
o/p=krn

In [21]:
"""
append new string in the middle of the given string given two strings s1,s2.
write a program to create a new string s3 by appendind s2 in the middle of s1
s1="ault"
s2="kelly"
expected---->Aukellylt."""



s1="ault"
s2="kelly"
s1[0:2]+s2+s1[-2:]

'aukellylt'

In [ ]:
Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the
list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the
new list.
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
expected result:
['My', 'name', 'is', 'Kelly']

In [25]:
"""
Create a list by picking an odd-index items from the first list and even index items from the
second
Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list
l1 and even index elements from the list l2.
L1 = [3, 6, 9, 12, 15, 18, 21]
L2 = [4, 8, 12, 16, 20, 24, 28]
"""


L1 = [3, 6, 9, 12, 15, 18, 21]
L2 = [4, 8, 12, 16, 20, 24, 28]
L3=L1[1::2]+L2[0::2]

In [33]:
"""
slice list into 3 equal chuncks and reverse each chunck 
l1=[11,49,8,23,14,12,78,45,89]"""


l1=[11,49,8,23,14,12,78,45,89]
n=len(l1)//3
c1=l1[0:n]
c2=l1[n:n*2]
c3=l1[n*2:n*3]
print(f"{c1[::-1]}\n{c2[::-1]}\n{c3[::-1]}")

[8, 49, 11]
[12, 14, 23]
[89, 45, 78]

In [ ]:
"""
Create a Python set such that it shows the element from both lists in a pair
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}
"""