In [ ]:
loops:

they are used to executr a block of code repeatedly untill certain condition is met.

python mainly have 2 types of loops
1)for loop
2)while loop
3)nested loop

combination of loops we can create:
1)for loop inside for loop
2)for loop inside while loop
3)while loop inside while loop
4)while loop inside for loop

In [ ]:
for loop:

* used when we know number of iterations
* iteration over sequences like list ,tuple,string and range

for loop with seqence
foe loop with range

In [ ]:
for loop with seqence

foe var in sequence_name:
    statements

with the sequence it will start with last position
and it will continue upto last position

In [1]:
name ="pooja"
print(name)

pooja

In [2]:
name="pooja"
for char in name:#char is iterative variable and it may be anything(eg i,j,k,....)
    print(char)

p
o
o
j
a

In [4]:
name="pooja"
for char in enumerate(name):#enumerate is  funtion,
    print(char)                                                 # o/p will be visible in the tuple formate

(0, 'p')
(1, 'o')
(2, 'o')
(3, 'j')
(4, 'a')

In [6]:
name="pooja"
for char in enumerate(name):#enumerate is  funtion,
    print(char)
    print(f"pos={char[0]},value={char[1]}")

(0, 'p')
pos=0,value=p
(1, 'o')
pos=1,value=o
(2, 'o')
pos=2,value=o
(3, 'j')
pos=3,value=j
(4, 'a')
pos=4,value=a

In [ ]:
initializtion;condition ;increement/decreement
defalit i=0;i<cond 11; default i=I+1

for loop with range syntax

for var in range():
    staements

range(start value,stop vlue ,step size)

In [14]:
for i in range (1,11,1):#i=1,2,3....10
    print(i,"=python")

1 =python
2 =python
3 =python
4 =python
5 =python
6 =python
7 =python
8 =python
9 =python
10 =python

In [15]:
for i in range (10):#i=1,2,3....10 # default it will start with 0 positon and default increment value is 1
    print("python")

python
python
python
python
python
python
python
python
python
python

for i in range (1,11,1):#i=1,2,3....10
    print(i)

In [18]:
# print table of given number form
#n*1=answer 
#n*2=answer
#...
#n*10=answer
n=int(input("eneter the value"))
for i in range(1,11,1):
    
    print(f"{n} x {i}={n*i}")

eneter the value 5

5 x 1=5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45
5 x 10=50

In [1]:
#writr a program to check the given number is prime number or not


num=int(input("enter the number"))
count=0
for i in range(2,num):
    if (num%i==0):
        count=count+1
if(count==0):
    print(num,"is prime number")
else:
    print(num,"is not prime number")
    
print(f"it is divisible by {count} othernumbers")

enter the number 11

11 is prime number
it is divisible by 0 othernumbers

In [ ]:
loop statements:

break
continue
pass

In [3]:
for i in range(1,11,1):
    if(i==5):
        break # it is used to stop the execution
    else:
        print(i)

1
2
3
4

In [4]:
for i in range(1,11,1):
    if(i==5):
        continue # it is used to continue the execution an dit is similer to  pass
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [5]:
for i in range(1,11,1):
    if(i==5):
        pass 
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [6]:
num=int(input("enter the number"))
for i in range(2,num,1):
    if(num%i==0):
        print(num ,"it is not prime number")
        break
else:
    print(num,"prime number")

enter the number 5

5 prime number

In [ ]:
num=int(input("enter the number"))                    #take number=9 
for i in range(2,num,1):                              # i=2,3,4,5,6...
    if(num%i==0):                                        #   9%2==0   here it is not equal to 0 then increment the i which is 3 then
        print(num ,"it is not prime number")             # 9%3==0                
        break
else:
    print(num,"prime number")

In [14]:
#write a progrm to count number of natrural number,even number ,odd number from the given range

num=int(input("enter the number"))

if num/2:
     print("number is even")
else:
    print("number is odd")
print("number is natural number")

enter the number 89

number is even
number is natural number

In [23]:
stn=int(input("enter the number"))
spv=int(input("enter the number"))
nn=0
en=0
od=0
for i in range(stn,spv+1,1):  
    nn=nn+1
    if(i%2==0):
        en=en+1
    else:
        od=od+1
print(f" count of natural number is{nn}")
print(f" count of even number is{en}")
print(f" count of odd number is{od}")

enter the number 10
enter the number 1

 count of natural number is0
 count of even number is0
 count of odd number is0

In [20]:
# factorial number


num=int(input())
fact=1
#fact i in range(1,num+1,1):
for i in range(num,1,-1):
    fact=fact*i
print(fact)

 5

120

In [ ]:
while loop syntax:

initialization
while(condition):
    statements
    inc/decrement

In [4]:
var="pooja"
for i in range(0,len(var),1):
    print(f"value={var[i]},position={[i]}")

value=p,position=[0]
value=o,position=[1]
value=o,position=[2]
value=j,position=[3]
value=a,position=[4]

In [5]:
i=0
while(i<len(var)):
    print(var[i])
    i+=1

p
o
o
j
a

In [6]:
#1+2+3+4=10

num=int(input("enter the number"))
sum=0
while(num>0):
    rem=num%10
    sum=sum+rem
    num=num//10
print("the sum of the number is",sum)

enter the number 1234

the sum of the number is 10

In [7]:
#1+2+3+4=10.........without function

num=int(input("enter the number"))
sum=0
while(num>0):
    rem=num%10
    sum=sum+rem
    num=num//10
print("the sum of the number is",sum)

enter the number 155

the sum of the number is 11

In [9]:
#palindrome............eg=121,222,212..etc

num=int(input("enter the number"))
original=num
reverse=0
while(num>0):
    rem=num%10
    reverse=reverse*10+rem
    num=num//10
print(original,reverse)
if(original==reverse):
    
    print("it is a palindrome")
else:
    print("not palindrome number")

enter the number 121

121 121
it is a palindrome

In [10]:
num=int(input("enter the number"))
original=num
reverse=0
while(num>0):
    rem=num%10
    reverse=reverse*10+rem
    num=num//10
print(original,reverse)
if(original==reverse):
    
    print("it is a palindrome")
else:
    print("not palindrome number")

enter the number 1234

1234 4321
not palindrome number

In [16]:
#fibonacci number


a,b=0,1
i=1
while(i<=7):
    print(a)
    s=a+b
    a,b=b,s
    i=i+1

0
1
1
2
3
5
8

In [21]:
n=int(input("enter the number"))
a,b=0,1
i=1
while(i<=n):
    print(a)
    s=a+b  #s=0+1=1
    a,b=b,s  #a=1  b=1
    i=i+1

enter the number 10

0
1
1
2
3
5
8
13
21
34

In [23]:


#for loop inside for loop

for var in range():          #outer loop
    for var in range():      #inner loop
        statements inner loop
    statements of outer loop

SyntaxError: invalid syntax (3222883476.py, line 5)

In [18]:
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5 
#1 2 3 4 5

for i in range(1,6,1):  
    for j in range(1,6,1):  
       print(j,end= " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [2]:
#30=1,2,3,4,5,6,10,15,30     write a program to print divisibles of given number using while loop



num=int(input("enter the number"))
i=1
while(i<=num):
    if (num%i==0):
        print(i)
    i=i+1

enter the number 30

1
2
3
5
6
10
15
30

In [17]:
for i in range(1,6,1):  #i=1,2,3,4,5
    for j in range(1,6,1):  #j=1,2,3,4,5
       print(j,end= " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [16]:
for i in range(1,6,1):  
    for j in range(1,6,1):  
       print(i ,end= " ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [19]:
#1 2 3 4 5 6 7 8 9 10
#2 4 6 8 10 12 14 16 18 20
#3 6 9 12 15 18 21 24 27 30 



for i in range(1,4,1):  
    for j in range(1,11,1):  
       print(i*j,end= "\t ")
    print()

1	 2	 3	 4	 5	 6	 7	 8	 9	 10
2	 4	 6	 8	 10	 12	 14	 16	 18	 20
3	 6	 9	 12	 15	 18	 21	 24	 27	 30

In [21]:
#     2           4
# 2   4     6     8    10
#     6           12   
# 4   8    12     16   20
#     10          20 




for i in range(2,6,2):  
    for j in range(1,6,1):  
       print(j,end= " ")
    print()

1 3 5
1 3 5

In [9]:
# *
# * *
# * * *
# * * * *
# * * * * *



for i in range(1,6,1):  
    for j in range(1,i+1,1):  
       print("*",end= " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
# 1 
# 1 2
# 1 2 3
# 1 2 3 4 
# 1 2 3 4 5



for i in range(1,6,1):  
    for j in range(1,i+1,1):  
       print(j,end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# 11 12 13 14 


val=1
for i in range(1,6,1):  
    for j in range(1,i+1,1):  
       print(val,end= " ")
       val=val+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [54]:
# * * * * *
# *       *
# *       *
# *       *
# * * * * *


for i in range(1,6,1):  
    for j in range(1,6,1): 
        if (i==1 or i==5 or j==1 or j==5):
            
            print("*",end= " ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [66]:
# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1



for i in range(5,0,-1):  
    for j in range(i,0,-1):  
       print(j,end= " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [67]:
for i in range(1,6,1):  
    for j in range(5,i-1,-1):  
       print(j,end= " ")

    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [78]:
"""
5 4 3 2 1 
5 4 3 2 
5 4 3 
5 4 
5 
5 4
5 4 3
5 4 3 2
5 3 3 2 1"""



for i in range(1,5,1):  
    for j in range(5,i-1,-1):  
       print(j,end= " ")

    print()

for i in range(1,6,1):  
    for j in range(5,5-i,-1):  
       print(j,end= " ")

    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [1]:
# using nested while loop



i=1
while(i<=4):
    j=5
    while(j>=i):
        print(j,end=" ")
        j=j-1
    print()
    i=i+1

#second half
i=5
while(i>=1):
    j=5
    while(j>=i):
        print(j,end=" ")
        j-=1
    print()
    i-=1

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
# syntax of nested while loop



outer while initialization
while (outer condition):
    
    inner while initialization
    while(inner condition):
        statements of inner while
        incr/decr of inner while

    statements of outer while
    incr/decr of ouetr while

In [4]:
"""
    *
   ***
  *****
 *******
********* """


i=1
while(i<=5):# number of rows needed
    #calculating space
    j=5
    while(j>i):
        print("-",end="")
        j-=1

    #printing star
    k=1
    while(k<=i):
        print("*",end=" ")
        k+=1
    print()
    i+=1

----*
---* *
--* * *
-* * * *
* * * * *

In [5]:
i = 5
while(i >= 1):        # start from 5 down to 1

    # printing dashes
    j = 5
    while(j > i):
        print("-", end="")
        j -= 1

    # printing stars
    k = 1
    while(k <= i):
        print("*", end=" ")
        k += 1

    print()
    i -= 1

* * * * *
-* * * *
--* * *
---* *
----*

In [9]:
i=1
while(i<=9):# number of rows needed
    #calculating space
    j=9
    while(j>i):
        print(" ",end="")
        j-=1

    #printing star
    k=1
    while(k<=i):
        print("*",end=" ")
        k+=1
    print()
    i+=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [11]:
"""
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *
"""

for i in range(1,6,1):
    print("*"*i+" "*(2*(5-i))+"*"*i)
for i in range(4,0,-1):
    print("*"*i+" "*(2*(5-i))+"*"*i)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [1]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [2]:
n = 4
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [3]:
n = 4
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [4]:
n = 4
num = 1
for i in range(1, n+1):
    for j in range(1, i+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [5]:
n = 4
for i in range(1, n+1):
    for j in range(1, i+1):
        print((i+j) % 2, end=" ")
    print()

0
1 0
0 1 0
1 0 1 0

In [6]:
n = 4
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()

1
121
12321
1234321

In [7]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "* " * n)

    * * * * *
   * * * * *
  * * * * *
 * * * * *
* * * * *

In [8]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "* " * i)
for i in range(n-1, 0, -1):
    print(" "*(n-i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [9]:
n = 5
for i in range(n):
    print("* " * n)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
n = 5
for i in range(1, n+1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [11]:
n = 5
for i in range(n, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [12]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
n = 5
for i in range(n, 0, -1):
    print(" "*(n-i) + "* " * i)

* * * * *
 * * * *
  * * *
   * *
    *

In [14]:
n = 5
for i in range(n, 0, -1):
    print("* " * i)
for i in range(2, n+1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

In [15]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [16]:
n = 4
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [17]:
n = 4
for i in range(1, n+1):
    print(" " * (n-i) + " ".join(str(j) for j in range(1, i+1)))

   1
  1 2
 1 2 3
1 2 3 4

In [18]:
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        if j == 1 or j == i or i == n:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [27]:
n=5
for i in range(n, 0, -1):
    for j in range(1, i+1):
        if j == 1 or j == i or i == n:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*     *
*   *
* *
*

In [20]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "* " + "  "*(i-2) + ("* " if i > 1 else ""))
for i in range(n-1, 0, -1):
    print(" "*(n-i) + "* " + "  "*(i-2) + ("* " if i > 1 else ""))

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [21]:
n = 5
for i in range(n, 0, -1):
    print(" "*(n-i) + "* " + "  "*(i-2) + ("* " if i > 1 else ""))
for i in range(2, n+1):
    print(" "*(n-i) + "* " + "  "*(i-2) + ("* " if i > 1 else ""))

*       *
 *     *
  *   *
   * *
    *
   * *
  *   *
 *     *
*       *

In [22]:
n = 5
for i in range(n):
    print(" "*(n-i), end="")
    num = 1
    for j in range(i+1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [23]:
n = 5
for i in range(1, n+1):
    print("* " * i)
for i in range(n-1, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#for loop inside while loop syntax

initialization of while
while(condition):
    for var in range():
        statements of for
    statements of while
    incr/decr while

In [30]:
rows=int(input("enter the number"))
i=1
while(i<=rows):
    #space calculation
    for j in range(rows,i,-1):
        print(" " ,end="")

    for k in range(1,i+1,1):
        if(i==1 or i==rows or k==1 or k==i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
    i+=1

enter the number 6

     *
    * *
   *   *
  *     *
 *       *
* * * * * *

In [33]:
for i in range(1,6,1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(k,end=" ")
    for l in range(2,i+1,1):
        print(l,end=" ")
    print()

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [47]:
rows=int(input("enter the number"))

for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1,1):
        if(i==1 or i==rows or k==1 or k==i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

i=2
while(i<=rows):
    #space calculation
    for j in range(rows,i,-1):
        print(" " ,end="")

    for k in range(1,i+1,1):
        if(i==2 or i==rows or k==1 or k==i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
    i+=1

enter the number 5

* * * * *
 *     *
  *   *
   * *
    *
   * *
  *   *
 *     *
* * * * *

In [ ]:
rows=5
for i in range(0,rows,1):
    print(" "*(rows-1
    print(num,end="")
               num=num*